@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}

:root {
  --background: #ffffff;
  --foreground: #000b27;

  --primary: #5256be;
  --secondary: #4fa77e;
  --accent: #ff8649;
}

[data-font="retro"] {
  font-family: "Bitcount", sans-serif;
}
[data-font="modern"] {
  font-family: "JetBrains Mono", "JetBrains Mono Fallback", sans-serif;
}

[data-theme="dark"] {
  --background: #00061a;
  --foreground: #f5f5f5;

  --primary: #b3b5d8;
  --secondary: #bcd2c4;
  --accent: #eecb9f;
}

html,
body {
  @apply bg-background text-foreground relative flex h-full flex-col transition;
}

body {
  background: linear-gradient(
    180deg,
    var(--background) 0%,
    color-mix(in srgb, var(--background) 85%, var(--primary)) 100%
  );
}

header,
main {
  @apply container m-auto flex flex-col flex-1 min-h-0 gap-4 p-4;
}

main {
  @apply overflow-hidden;
}

aside {
  @apply border-foreground/20 bg-background/80 text-foreground z-10 mt-4 w-56 space-y-4 rounded-lg border p-4 text-sm shadow-lg;
}

form {
  @apply bg-background/20 text-foreground border-foreground m-auto max-w-2xl w-full space-y-4 rounded-md border p-4 shadow-xl border-dashed;
}
